prune girder_nifti_viewer/web_client
include girder_nifti_viewer/web_client/dist/girder-plugin-nifti-viewer.umd.cjs
include girder_nifti_viewer/web_client/dist/girder-plugin-nifti-viewer.js
include girder_nifti_viewer/web_client/dist/style.css
