//- NIfTI Viewer - Layout simile a DICOM viewer
//- Left: Image viewer with controls
//- Right: Metadata panel

.g-nifti-container
  .g-item-info-header
    i.icon-doc-text
    |  NIfTI Viewer
.g-nifti-panes.clearfix
  .g-nifti-left
    //- Image display area
    .g-nifti-image

    //- File info
    .g-nifti-filename Loading...

    //- Navigation controls (DICOM-style)
    .g-nifti-controls
      //- Slice slider
      input.g-nifti-slider(type="range", min=0, max=100, step=1, value=0)
      
      //- Navigation buttons (right side)
      .right
        button.g-nifti-first.btn.btn-sm.btn-default(title="First Slice")
          i.icon-angle-double-left
        button.g-nifti-previous.btn.btn-sm.btn-default(title="Previous Slice")
          i.icon-angle-left
        button.g-nifti-play.btn.btn-sm.btn-default(title="Play")
          i.icon-play
        button.g-nifti-pause.btn.btn-sm.btn-default(title="Pause")
          i.icon-pause
        button.g-nifti-next.btn.btn-sm.btn-default(title="Next Slice")
          i.icon-angle-right
        button.g-nifti-last.btn.btn-sm.btn-default(title="Last Slice")
          i.icon-angle-double-right

      //- Zoom controls (left side)
      .left
        button.g-nifti-zoom-in.btn.btn-sm.btn-default(title="Zoom In")
          i.icon-zoom-in
        button.g-nifti-zoom-out.btn.btn-sm.btn-default(title="Zoom Out")
          i.icon-zoom-out
        button.g-nifti-reset-zoom.btn.btn-sm.btn-default(title="Reset Zoom")
          i.icon-search
        button.g-nifti-auto-levels.btn.btn-sm.btn-default(title="Auto Window/Level")
          i.icon-adjust

    //- Orientation selector
    .g-nifti-orientation
      .btn-group.btn-group-sm
        button.g-nifti-orientation-btn.btn.btn-default.active(data-orientation="axial") Axial
        button.g-nifti-orientation-btn.btn.btn-default(data-orientation="coronal") Coronal
        button.g-nifti-orientation-btn.btn.btn-default(data-orientation="sagittal") Sagittal

  .g-nifti-right
    //- Metadata panel
    .g-nifti-tags
