//- NIfTI Metadata template (simile a DICOM tags)
if tags && tags.length > 0
  table.table.table-condensed.g-nifti-metadata-table
    tbody
      each tag in tags
        tr
          td.g-nifti-tag-name= tag.name
          td.g-nifti-tag-value= tag.value
else
  p.text-muted Loading metadata...
